html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

html {
  height: 100%;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: white;
}

@media screen and (min-width: 1250px) {
  html {
    font-size: 1.28vw;
  }
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
code,
input,
pre,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Spoqa Han Sans", "Noto Sans TC", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  font-size: 1rem;
  letter-spacing: .0125em;
  line-height: 1.75;
  word-break: keep-all;
  color: #222;
  cursor: default;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

em {
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid #222;
}

.header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: .75rem 1.25rem 1.75rem;
  text-align: center;
}

.header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .header div:not(:last-child) {
    margin-right: 1.25rem;
  }
}

@media screen and (min-width: 600px) {
  .header div {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(100% / 3);
    flex: 1 1 calc(100% / 3);
  }
}

.header .filtered {
  border-bottom: 1px solid #222;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: .75rem 1.25rem 1.5rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100vh;
  flex: 0 0 100vh;
  padding: 1.25rem;
  text-align: center;
}

.list li {
  margin-left: 1rem;
  text-indent: -1rem;
}

.list .visible {
  visibility: visible;
}

.list .hidden {
  visibility: hidden;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: -1.25rem;
  margin-right: -1.25rem;
  margin-left: -1.25rem;
}

.article .column {
  padding: 1.25rem;
}

@media screen and (min-width: 600px) {
  .article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .article .column {
    width: 50%;
  }

  .article .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: .75rem;
  }
}

.article:not(:last-child) {
  margin-bottom: 1.25rem;
}

.article .title {
  margin-left: 1rem;
  text-indent: -1rem;
}

.content:not(:last-child) {
  margin-bottom: 3rem;
}

.content.hidden {
  display: none;
}

.content a:not(.footnote-ref, .footnote-backref):hover {
  border-bottom: 1px solid #222;
}

.content .footnote-ref {
  font-weight: normal;
}

.content h1 {
  font-weight: bold;
}

.content h2 {
  margin-left: 1rem;
  font-weight: normal;
}

.content small {
  position: relative;
  font-size: .95em;
}

.content small small {
  font-size: .9em;
}

.content sup {
  position: relative;
  top: -.25em;
  font-size: .75em;
  line-height: 0;
  vertical-align: baseline;
}

.content blockquote {
  margin-left: 1rem;
}

.content ul li {
  margin-left: 1rem;
  text-indent: -1rem;
}

.content ol li {
  margin-left: 1.5rem;
}

.content hr {
  border: 0;
  height: 1rem;
  margin-top: -2rem;
}

.content figure:first-child {
  margin-top: .5rem;
}

.content figure:not(:first-child) {
  margin-top: 1.75rem;
}

.content figure:not(:last-child) {
  margin-bottom: 1.75rem;
}

.content img {
  border: 1px solid #222;
}

.content figcaption {
  margin-top: 1em;
  font-size: .75rem;
}

.content .video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.content .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footnotes ol {
  margin-left: 1.5em;
  font-size: .75em;
}

.footnotes ol li {
  margin-left: 0;
  text-indent: 0;
}

.footnotes .footnote-backref {
  visibility: hidden;
}

.footnotes li:hover .footnote-backref {
  visibility: visible;
}

.title:not(:last-child),
.content > *:not(:last-child),
.footnotes > *:not(:last-child) {
  margin-bottom: 1rem;
}

.review:not(:last-child) {
  margin-bottom: -1.25rem;
}

.review .title {
  cursor: pointer;
}

.review .hidden {
  display: none;
}