html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


@font-face {
    font-family: "JH Web Mono";
    src: url("/fonts/JHWebMono-Regular.woff2") format("woff2"),
         url("/fonts/JHWebMono-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: block;
  }
  
  html {
    font-family: "JH Web Mono", monospace;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    background-color: white;
  }
  
    :where(.page-content, .page-meta, .page-body) {
    word-break: keep-all;
    overflow-wrap: normal;
    line-break: loose;
  }
  :where(.page-content, .page-meta, .page-body)
    :where(p, li, dt, dd, h1,h2,h3,h4,h5,h6,blockquote,figcaption) {
    word-break: inherit;
    overflow-wrap: inherit;
    line-break: inherit;
  }
  
  html:lang(en) :where(.page-content, .page-body, .page-meta) {
    word-break: normal;
    hyphens: auto;
  }
  
  .u-break {
    overflow-wrap: anywhere;
    word-break: break-word;
  }